* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 4rem 0 3rem 0;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  background: #49a6e9;
  margin: 0 auto;
}

.followers {
  width: 90vw;
  margin: 5rem auto;
}

.follower {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 3.5rem;
  text-align: center;
}

.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.75rem;
}

.card h4 {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: #102a42;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-btn {
  width: 2rem;
  height: 2rem;
  background: #8bcbf9;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.3s linear;
}

.active {
  background: #063251;
  color: #fff;
}
.prev-btn, .next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
